<html>
  <head>
    <title>Make your own D&D party!</title>
    <meta content="">
    <style></style>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app">
      <h1>Get the party together!</h1>

      <form v-on:submit.prevent="addCharacter">

       	Name:<input type="text" id="name" v-model="newName">
        Class:<select v-model="newClass">
                <option value="Barbarian">Barbarian</option>
                <option value="Bard">Bard</option>
                <option value="Cleric">Cleric</option>
                <option value="Druid">Druid</option>
                <option value="Fighter">Fighter</option>
                <option value="Monk">Monk</option>
                <option value="Paladin">Paladin</option>
                <option value="Ranger">Ranger</option>
                <option value="Rogue">Rogue</option>
                <option value="Sorcerer">Sorcerer</option>
                <option value="Warlock">Warlock</option>
                <option value="Wizard">Wizard</option>
              </select>
        STR:
        DEX:
        CON:
        INT:
        WIS:
        CHA:<input type="number" step="1" min="1" max="20" v-model="cha">
        <button v-on:click="getRandomStats()">Random Stats</button>
       	<button type="submit">Add</button>
      </form>



      <h2>Current party size: {{size}}</h2>
      <div class="table">
        <ul="horizontal-ul">
          <li v-for="character in party">
            {{character.name}} ({{character.class}}) STR: {{character.str}}
            DEX: {{character.dex}} CON: {{character.con}} INT: {{character.int}}
            WIS: {{character.wis}} CHA: {{character.cha}}
          </li>





        </ul>
      </div>
















                  <br>  <br>
                    <br>  <br>
                      <br>  <br>
                        <br> <br>
                          <br>  <br>
                            <br>  <br>
                              <br>  <br>
                                <br>  <br>
                                  <br>  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                    <a href="https://github.com/AbramBeazer/CP4.git">Github</a>
    </div>



   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script src="script.js"></script>
  </body>
</html>
